:root {
    --auraColor-heading:#121723;
    --auraColor-background: #fff;
    --auraColor-text: #555;
    --auraColor-accent: #fcee21;
    --auraColor-border-bottom: #DDDDDD;
    --auraColor-colophon: #707070;
    --auraColor-banner-heading-shadow: #6CAC03;
    --auraColor-section-3-heading-shadow: #AFD104;
}