.blog-section{
  
  
  &__title {
    color: var(--auraColor-heading);
    font-family:  var(--auraFontFamily);
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1em;
    border-top: 1px solid var(--auraColor-border-bottom);
    padding-top: 40px;

    @media (min-width: $bp-laptop) {
      padding-top: 50px;
    }

    @media (min-width: $bp-laptop) {
      padding-top: 55px;
    }
  }
}
