.container{
    width:100%;
    max-width:1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left:auto;
    margin-right:auto;

    @media( min-width: $bp-mobile){
        padding-left: 30px;
        padding-right: 30px;
    }

    @media( min-width: $bp-laptop){
        padding-left: 40px;
        padding-right: 40px;
    }
}



