.posts {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 24px;
    margin-top: 40px;
    padding: 0;
    padding-right: 0;
    max-width: 100%;
  
    @media (min-width: $bp-mobile) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 40px;
      margin-top: 40px;
    }
    
    @media (min-width: $bp-laptop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }